.component.sessions {
  height: 100%;
  width: 100%;
  position: relative;

  .caption {
    position: absolute;
    width: 60%;
    padding: 20px;
    font-weight: 500;
    color: #ffffff;
  }

  .recharts-layer {
    font-size: 0.8rem;
  }

  .recharts-default-tooltip {
    color: $darker;
  }
}
